@import '../../variables.scss';
body {
    font-family: $mainFont;
    overflow: hidden;
}
.messageHeader {
    height: 7vh;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $siteColorTheme;
    letter-spacing: 2px;
    border-bottom: 1px solid $siteColorTheme;
    margin-bottom: 15px;
    span {
        margin-left: 47px;
        margin-right: 47px;
        color: black;
    }
}

.chatwrapper {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: flex-end;
}
.chats {
    display: inline-block;
    float: right;
    padding: 6px 10px;
    background: #EAEAEA;
    border-radius: 10px;
    margin: 5px 7% 5px;
}


.footerWrapper {
    height: 12vh;
    width: 100%;
    border-top: 1px solid $siteColorTheme;
    background-color: #EAEAEA;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: none;
    align-items: center;
    justify-content: space-around;

    input {
        height: 7vh;
        width: 60%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3) inset;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    button {
        height: 7vh;
        width: 20%;
        background: white;
        // border-radius: 30px/10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 2px rgba(0, 206, 209, 1);
        color: $siteColorTheme;
        outline: none;
        margin-left: -15px;
        margin-bottom: 3px;
        letter-spacing: 2px;
        font-weight: 600;
    }
}