body {
  font-family: "Varela Round"; }

.matchesHeader {
  height: 7vh;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #00CED1;
  letter-spacing: 2px;
  border-bottom: 1px solid #00CED1; }
  .matchesHeader span {
    margin-left: 47px;
    margin-right: 47px;
    color: black; }
  .matchesHeader a:link,
  .matchesHeader a:visited,
  .matchesHeader a:hover,
  .matchesHeader a:active {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit; }

.matchesWrapper {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  letter-spacing: 1px;
  padding-right: 50px; }
  .matchesWrapper img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: solid 1px #00CED1;
    margin-left: 15px;
    margin-top: 3px; }

.matchesWrapper:active {
  background: #EAEAEA;
  transition: background-color .2s linear; }
