.browseImageWrapper {
  height: 67vh;
  width: 100%;
  border-bottom: 2px solid #00CED1;
  border-top: 1px solid #00CED1; }
  .browseImageWrapper .browseImage {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; }

.browseNameAge {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 36px;
  margin-top: 3px;
  margin-left: 5px; }
