// div {
//   background: rgba(0, 0, 0, .1);
// }
@import '../../variables.scss';
body {
  overflow: hidden;
}
.editNav {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-left: 26%;
    }
    i{
      margin-right: -30px;
      color: $siteColorTheme;
      font-size: 26px;

    }
}
.createProfileHeader {
    height: 7vh;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $siteColorTheme;
    letter-spacing: 2px;
}
.main-wrapper {
    height: 100vh;
    width: 100vw;
    margin-top: -11px;
    margin-left: -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      margin-top: 10px;
    }
    input,select,textarea {
      border: 1px solid gray;
    }
}
.ageGender {
  display: flex;
 
  align-items: center;
}

.content-wrapper {
  padding: 10px;
  padding-left: 30px;
  flex:1;
  border: gray;
}
.searchRange {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;

}
.preferences-text {
  color: gray;
}

.preferences-checkbox-text {
  color: gray;
}

.preferences-checkbox {
  margin-left: 0px;
}

.actions-wrapper {
  height: 50px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 64px;
  right: 113px;
}

.action-button {
  margin-left: 20px;
  height:30px;
  padding: 0px 20px;
}
