// div {
//   background: rgba(0, 0, 0, .1);
// }
@import '../../variables.scss';
body {
  overflow: hidden;
  font-family: $mainFont;
}
.editNav {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-top: 3px;
      position: absolute;
      // left: 50vw;
    }
    i {
      // margin-right: 10px;
      color: $siteColorTheme;
      font-size: 30px;
      font-weight: 700;
      position: absolute;
      right: 20px;
      top: 10px;
    }
}
.createProfileHeader {
    height: 7vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $siteColorTheme;
    letter-spacing: 2px;
    font-size: 20px;
    border-bottom: 3px solid $siteColorTheme;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
    margin-top: -11px;
    // margin-left: -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      margin-top: 10px;
    }
    input,select,textarea {
      border: 1px solid gray;
      border-radius: 5px;
      padding: 4px 7px;
    }
}

.ageGender {
  display: flex;
 
  align-items: center;
}

.content-wrapper {
  padding: 10px;
  padding-left: 30px;
  flex:1;
  border: gray;
}
.searchRange {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;

}
.preferences-text {
  color: gray;
}

.preferences-checkbox-text {
  color: gray;
}

.preferences-checkbox {
  margin-left: 0px;
}

.actions-wrapper {
  height: 56px;
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-button {
  height: 7.7vh;
  width: 35%;
  font-weight: 600;
  background: white;
  border: solid 3px #00CED1;
  color: $siteColorTheme;
  letter-spacing: 2px;
}
