body {
  overflow: hidden;
  font-family: "Varela Round", Arial, sans-serif; }

.browseNav .browseHeader {
  height: 7vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #00CED1;
  letter-spacing: 2px;
  padding: 0 15px; }
  .browseNav .browseHeader .browseNavLogo {
    width: 20%;
    margin: auto; }
  .browseNav .browseHeader a:link,
  .browseNav .browseHeader a:visited,
  .browseNav .browseHeader a:hover,
  .browseNav .browseHeader a:active {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit; }

.bottomButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px; }
  .bottomButtonGroup .fa-id-card-o {
    font-size: larger;
    color: #00CED1; }
  .bottomButtonGroup .fa-angle-up {
    font-size: xx-large;
    color: #00CED1; }
  .bottomButtonGroup .likeButton {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 3px solid #00CED1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #00CED1; }
  .bottomButtonGroup .passButton {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 3px solid #00CED1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #00CED1; }

.browseNav {
  display: flex;
  justify-content: space-around; }

.likeNotify {
  display: none; }

.likedBoxOn {
  height: 90px;
  width: 90px;
  z-index: 1000;
  position: absolute;
  top: 35%;
  right: 40%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: large;
  font-weight: bold;
  border-radius: 20%; }

.nopeNotifyUser {
  display: none; }

.nopeBoxOn {
  height: 90px;
  width: 90px;
  z-index: 1000;
  position: absolute;
  top: 35%;
  right: 40%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: large;
  font-weight: bold;
  border-radius: 20%; }
