// Like dislike buttons
@import '../../variables.scss';
.browseHeader {
    height: 7vh;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $siteColorTheme;
    span {
        margin-left: 47px;
        margin-right: 47px;
        color: black;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: none;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
    }
}

.likeButton {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid $siteColorTheme;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-right: 40px;
    color: $siteColorTheme;
}

.passButton {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid $siteColorTheme;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-left: 40px;
    color: $siteColorTheme;
}

.bottomButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .fa-id-card-o {
        font-size: larger;
    } // overflow: hidden;
    // margin-left: 10px;
}

.browseNav {
    display: flex;
    justify-content: space-around;
    
}
.likedBoxOn {
    height: 90px;
    width: 90px;
    z-index: 1000;
    position: absolute;
    top: 35%;
    right:40%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: large;
    font-weight: bold;
    border-radius: 20%;
}
.likedBox {
    height: 90px;
    width: 90px;
    z-index: 1000;
    position: absolute;
    top: 35%;
    right: 40%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: large;
    font-weight: bold;
    border-radius: 20%;
    display: none;
}
.nopeBoxOn  {
    height: 90px;
    width: 90px;
    z-index: 1000;
    position: absolute;
    top: 35%;
    right:40%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: large;
    font-weight: bold;
    border-radius: 20%;
}
.nopeBox  {
    height: 90px;
    width: 90px;
    z-index: 1000;
    position: absolute;
    top: 35%;
    right:40%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: large;
    font-weight: bold;
    border-radius: 20%;
    display: none;
}
